body {
  padding-top: 5rem;
}

.box{
  padding: 100px 100px;
  background-color: lightgray;
}

.box_input{
  /* display: none; */
}

.box_submit{
  /* display: none; */
}

.box .fa-download{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 100px;
  color: gray;
}
